form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 40rem;
  margin: auto;
  justify-content: space-between;
  min-width: 300px;
  background-color: cornflowerblue;
}


 @media (min-width: 768px) {
  form {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  form > * {
    flex: 0 0 calc(50% - 0.5rem);
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type='text'],
input[type='date'],
input[type='time'],
textarea {
  outline: unset;
  width: 300px;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
  
}
textarea:focus,input:focus{
  background-color: rgb(219, 228, 245);
}
form label,form h1{
  color: white;
}

button[type='submit'] {
  width: 100px;
  padding: 10px;
  background-color:rgb(31, 106, 245);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}
button[type='submit']:hover{
  background-color: rgb(4, 50, 134);
}

@media (min-width: 768px) {
  button[type='submit'] {
    width: auto;
  }
}
