* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* parte da Topbar */
.Topbar {
  background: linear-gradient(180deg, #2366B1 0%, #E6F1F3 100%);
  display: flex;
  width: 100%;
  align-items: center;
}
.agenda{
  width: 23%;
  display: flex;
  align-items: center;
}
.Topbar svg {
  font-size: 3.6em;
}
.conteudo-topbar {
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  width: 77%;
  justify-content: flex-start;
}
.data-atual{
  display: flex;
}
.dataTopbar {
  font-size: x-large;
  margin-left: 10px;
  margin-right: 10px;
}

.Sidebar svg {
  font-size: 1.3em;
  cursor: pointer;
  align-content: baseline;
}

.tabela {
  width: 77%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events {
  display: flex;
  background-color: #84acda;
  border-radius: 20px;
  height: 95%;
  border: 1px solid;
  margin-left: 10px;
}
.botaoHoje {
  background: #40AFFF;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: unset;
  padding: 5px;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.botaoHoje:hover {
  border: solid #000000 1px;
  background: #1E62D0;
  border-radius: 20px;
  text-decoration: unset;
}

/* parte da sidebar */
.Sidebar {
  text-align: center;
  width: 23%;
  border-right: 1px solid black;
}


.botao-criar {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: -webkit-center;
}

/* parte do corpo */
.Corpo {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #E6F1F3 0%, #FFFFFF 100%);
  }
.selectedDate {
  background-color: #2c7edb;
  color: #FFFFFF;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  display: flex;
  font-size: -webkit-xxx-large;
  margin: 10px;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.horas {

  border-right: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
}

.eventos {
  border-right: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
}


.linhas {
  border-bottom: 1px solid white;
  height: 24%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}


/* estilização do formulário de criar eventos */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 40rem;
  margin: auto;
  justify-content: space-between;
  min-width: 300px;
  background-color: cornflowerblue;
}


@media (min-width: 768px) {
  form {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  form>* {
    flex: 0 0 calc(50% - 0.5rem);
  }
}



input[type='text'],
input[type='date'],
input[type='time'],
textarea {
  outline: unset;
  width: 300px;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;

}

textarea:focus,
input:focus {
  background-color: rgb(219, 228, 245);
}

form label,
form h1 {
  color: white;
}

button[type='default'] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #808080;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: unset;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;

}
button[type='default']:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.tableAction {
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  
}
.tableAction svg{
  font-size: x-large;
}
